@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$dark: #1c1c1c;
$primary: #0282f9;
$navLinks: #666364;
$footLinks: #969696;

$font: 'Roboto Condensed', sans-serif;;